// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$table-variants: (
    "lightpurple": #4c0bce,
    "darkpurple": #563d7c,
    "teal": #37474f,
    "red": #A42637,
    "blue": #1d5bc0,

    "defalut": #fff,
    "primary": #cfe2ff,
    "secondary": #e2e3e5,
    "success": #d1e7dd,
    "danger": #f8d7da,
    "warning": #fff3cd,
    "info": #cff4fc,
    "light": #f8f9fa,
    "dark": #212529,
);